<section class="hero is-fullheight-with-navbar">
    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title is-size-1 animate-fade">@L["Create stunning banners with AI"]</h1>
            <h2 class="subtitle is-size-3 animate-fade-delay">@L["Choose your model, customise, publish."]</h2>
            <NavLink class="button is-primary is-large mt-5" href="generate">@L["Get&nbsp;Started"]</NavLink>
        </div>
    </div>
</section>